@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:400,400i,500,700,900&display=swap|family=Asap:400,500,600,700|family=Great+Vibes|family=Righteous|family=Lily+Script+One|family=Playfair+Display:400,400i,700,700i,900,900i|family=Montserrat&display=swap|family=Heebo&display=swap|family=Acme&display=swap|family=Uncial+Antiqua&display=swap|family=Permanent+Marker&display=swap|family=Gloria+Hallelujah&display=swap|family=Orbitron&display=swap|family=Bangers&display=swap|family=Ultra&display=swap|family=Monoton&display=swap|family=Press+Start+2P&display=swap|family=Audiowide&display=swap"');
 ::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.header {
    background: vwhite;
    padding-top: 20px;
    display: block;
    position: fixed;
    width: 100vw;
    height: 75px;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08), 0px 8px 8px rgba(50, 50, 50, 0.22);
    z-index: 999999;
    transition: 0.4s;
}

.header img {
    height: 40px;
}

.singleheaderoption {
    width: fit-content;
    display: inline-block;
    margin-right: 10px;
    float: right;
    position: relative;
}

.singleheaderoption p {
    margin-top: 7px;
    font-size: 16px;
    color: var(--text_color_1);
    cursor: pointer;
}

.mySlides {
    display: none;
}

.column {
    float: left;
    width: 33.33%;
    padding: 20px;
}

.row {
    content: "";
    clear: both;
    display: table;
}

.img {
    float: right;
}

.w3-section,
.w3-code {
    margin-top: 0;
}

.w3-section {
    margin-top: 0px !important;
}

.card {
    border: unset;
    display: inline-block;
    padding: 10px;
}

.card img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    width: 100%;
}

.card img:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.abt p {
    font-size: 18px;
    color: #333;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.8;
    font-weight: 300;
    font-family: monospace;
}

.abt h1 {
    font-size: 40px;
    text-align: left;
    color: red;
}

.singleservice {
    display: inline-block;
}

.singleservice img {
    height: 100px;
    display: block;
    margin: auto;
    padding: 10px;
}

.singleservice p {
    text-align: center;
    font-family: 'raleway';
    font-size: 20px;
}

.singleservice h1 {
    text-align: center;
    font-family: 'Montserrat';
}

.singleservice {
    background-color: whitesmoke;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 9px 3px #ddd;
    height: 30%;
}

.singleservice:hover {
    box-shadow: 2px 3px 9px 3px #28609073;
}

.footer {
    width: 100%;
    background-color: #333;
    padding-top: 30px;
    height: fit-content;
    padding-bottom: 20px;
}

.footer img {
    width: 100%;
    max-width: 100px;
    margin-top: 50px;
    width: 50px;
}

.footer h1 {
    text-align: left;
    color: whitesmoke;
}

.footer p {
    text-align: left;
    color: whitesmoke;
    font-family: 'Raleway';
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.footer p:hover {
    color: blue;
}

.footer .fa-facebook {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.fa-facebook:hover {
    color: blue;
}

.singleprof {
    float: left;
}

.dash1 {
    background-color: whitesmoke;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 3px 8px 7px #ddd;
    padding: 10px;
    font-size: 5px;
    font-family: Raleway;
    font-weight: 300;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.dash1 h3 {
    font-size: 20px;
}

.dash p:hover {
    color: 607D8B;
}

.skills1 {
    padding: 1.5em auto;
    margin: 1em auto;
    background-color: #d81a8c59;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s cubic-bezier(.4, 0, .2, 1);
    padding: 5px;
    max-width: 100%;
    float: left;
    cursor: pointer;
}

.skills1:hover {
    box-shadow: 0px 3px 8px 7px #ddd;
    color: 607D8B;
    margin-top: 10px;
}

.dash1:hover {
    box-shadow: 0px 3px 8px 7px #ddd;
    color: 607D8B;
    margin-top: 10px;
}

.profinfo i {
    padding-right: 10px;
}

.profinfo {
    display: inline-block;
    padding: 30px;
    top: 280px;
    position: relative
}

.edu p {
    font-weight: 500;
    font-family: Raleway;
    font-style: oblique;
    font-size: 15px;
    padding-right: 30px;
}

.edu p:hover {
    margin-top: 10px;
}

.lang h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: Raleway;
}

.con1:hover {
    margin-top: 10px;
}

.profcard h1 {
    letter-spacing: 2px;
}

.single_lang h2 {
    letter-spacing: 2px;
    font-size: 20px;
    font-style: oblique;
}

.hamburger {
    padding: 15px 15px;
    /* display: inline-block; */
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    padding-top: 4px;
    padding-right: 0;
    transform: scale(1.3);
    /* float: right; */
    /* padding-right: 20px; */
    right: 53px;
    position: absolute;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger-box {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 25px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.ismenu .hamburger-inner::after {
    color: black;
    content: "MENU";
    background: transparent;
    font-size: 8px;
}

.hamburger-inner::before {
    top: -7px;
}

.hamburger-inner::after {
    bottom: -7px;
}


/*
     * Spin Reverse
     */

.hamburger--spin-r .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
    transform: rotate(-225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin-r.is-active .hamburger-inner::after {
    content: "";
    background-color: #000;
}

.header-phone img {
    padding: 5px;
    top: 8px;
    max-height: 50px;
    display: inline;
    cursor: pointer;
    left: 50px;
    margin-left: 16px;
}

.header-phone {
    width: 100%;
    /* margin-top: 20px; */
    display: none;
    position: fixed;
    background: white;
    z-index: 999;
    height: 60px;
}

#main_menu {
    position: fixed;
    left: 0;
    z-index: 99999;
    top: 58px;
    background: rgba(250, 250, 250, 0.8);
    width: 100vw;
    height: 0;
    transition: 0.4s;
    overflow: hidden;
    opacity: 0.7;
    overflow: hidden;
}

#main_menu.active {
    background: rgba(250, 250, 250, 0.95);
    height: calc(100vh);
    overflow: scroll;
    transition: 0.4s;
    opacity: 1;
    z-index: 999999;
}

#main_menu p {
    position: relative;
    text-transform: capitalize;
    font-size: 22px;
    display: block;
    color: #747474;
    margin-top: 13px;
}

#main_menu h3 {
    position: relative;
    text-transform: capitalize;
    font-size: 22px;
    display: block;
    color: #747474;
    cursor: pointer;
    margin-top: 13px;
}

#main_menu p:after {
    position: absolute;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: '\f054';
    color: var(--theme2_color);
    left: calc(100vw - 50px);
    top: 5px;
    font-size: 16px;
}

.skills1 h4 {
    text-align: center;
}

input[type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

.group {
    position: relative;
    margin-bottom: 25px;
}

.group_inputerror label {
    color: red;
}

.group_inputerror input[type="text"]:focus~label,
.group_inputerror input[type="text"]:valid~label,
.group_inputerror input[type="number"]:focus~label,
.group_inputerror input[type="number"]:valid~label,
.group_inputerror input[type="password"]:focus~label,
.group_inputerror input[type="password"]:valid~label,
.group_inputerror textarea:focus~label,
.group_inputerror textarea:valid~label {
    color: red;
}

.group_inputerror .bar:before,
.group_inputerror .bar:after {
    color: red;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
    font-size: 18px;
    line-height: 20px;
    padding: 39px 10px 4px 5px;
    display: block;
    width: 60%;
    border: none;
    border-bottom: 1px solid #bbb;
    background: transparent !important;
    -webkit-appearance: none;
    text-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    line-height: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
    outline: none;
    -webkit-appearance: none;
}


/* LABEL ======================================= */

label {
    color: #322e3c8c;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: 0;
    top: 36px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/* active state */

input[type="text"]:focus~label,
input[type="text"]:valid~label,
input[type="number"]:focus~label,
input[type="number"]:valid~label,
input[type="password"]:focus~label,
input[type="password"]:valid~label,
textarea:focus~label {
    left: 0px;
    top: 10px;
    font-size: 14px;
    color: #0D4B7F;
}


/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #0D4B7F;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 0%;
}

.bar:after {
    right: 50%;
}


/* active state */

input[type="text"]:focus~.bar:before,
input[type="number"]:focus~.bar:before,
input[type="password"]:focus~.bar:before,
textarea:focus~.bar:before {
    width: 100%;
}

input[type="text"]:focus~.bar:after,
input[type="number"]:focus~.bar:after,
input[type="password"]:focus~.bar:after,
textarea:focus~.bar:after {
    width: 00%;
}


/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active state */

input[type="text"]:focus~.highlight,
input[type="number"]:focus~.highlight,
input[type="password"]:focus~.highlight,
textarea:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

.input_btn {
    color: #999;
    margin-top: -21px;
    position: relative;
    z-index: 51;
    margin-bottom: 15px;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.input_btn:hover {
    color: var(--theme1_color);
    transition: all 0.1s;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: var(--theme1_color);
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: var(--theme1_color);
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: var(--theme1_color);
    }
    to {
        width: 0;
        background: transparent;
    }
}

.button {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    width: 100%;
    text-align: center;
    background-color: #03679a4f;
    display: inline-block;
    font-size: 16px;
    color: #0d0e0e;
    text-transform: uppercase;
    text-decoration: none !important;
    padding: 10px 20px;
    line-height: inherit;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-top: 13px;
    margin-bottom: 5px;
    opacity: 0.9;
}

#contactpage .button:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgb(26, 116, 162);
}

.ripplelink {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
}

.ink {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    transform: scale(0);
}

.animate {
    animation: ripple 0.8s cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

.single {
    width: 150px;
    height: 30px;
}

.select2-container--default .select2-results>.select2-results__options {
    width: 100%;
}

.select2-results {
    width: 100%;
}

#lab1 {
    background-color: red;
}

input[type="checkbox"] {
    display: none;
}

.checkbox label {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    color: #005A5A;
    cursor: pointer;
    /*pointer-events: auto;*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.checkbox label:before {
    margin-top: -7px;
    color: #005A5A;
}

.checkbox label:after {
    margin-top: -7px;
    color: #54BECC;
}

.checkbox label:before,
.checkbox label:after {
    font-family: 'Font Awesome 5 Pro';
    font-size: 21px;
    /*absolutely positioned*/
    position: absolute;
    top: -4px;
    left: 0;
    padding-top: 7px;
}

.checkbox label:before {
    content: '\f0c8';
    /*unchecked*/
}

.checkbox label:after {
    content: '\f14a';
    /*checked*/
    /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    /*CSS3 transitions for animated effect*/
    transition: all 0.35s;
}


/*hiding the original checkboxes*/


/*when the user checks the checkbox the checked icon will animate in*/

.checkbox input[type="checkbox"]:checked~label:after {
    max-width: 25px;
    /*an arbitratry number more than the icon's width*/
    opacity: 1;
    /*for fade in effect*/
}


/* #rooms_list p::before {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    color: #003380;
}
 */

.new {
    padding: 50px;
}

.form-group {
    display: block;
    margin-bottom: 15px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.int {
    background: #f2f1f347;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 100%;
    max-width: 500px;
    margin-top: 10%;
}

.table1 {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.int1 {
    background: #f2f1f347;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    width: 100%;
    max-width: 500px;
    margin-top: 3%;
}

.connect {
    background: #f2f1f347;
    width: 100%;
    max-width: 500px;
    margin-top: 10%;
}

.connect1 {
    margin-top: 100px;
    width: 100%;
    max-width: 50%;
    padding: 65px;
    float: left;
    margin-left: 27px;
}

.dtp-content {
    margin-left: 0px;
    top: 212.313px;
}

.dtp>.dtp-content {
    left: 14%;
}

.dtp {
    position: absolute;
    left: 100PX;
    top: 1%;
    background: no-repeat;
    width: 100%;
    max-width: 400px;
}

.dtp-actual-maxtime {
    color: #d82222;
}

.dtp-actual-maxtime {
    color: #121311c9;
}

.connect2 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    margin-top: 155px;
    width: 100%;
}

.connect2:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.options {
    color: #04689a;
    transition: 0.3s;
    cursor: pointer;
    font-family: Heebo;
    letter-spacing: 2px;
}

.connect2 h3 {
    text-align: center;
}

.options.active {
    border-bottom: 1px solid #4cb318;
    color: #333;
}

.desc {
    display: none;
    font-family: Acme;
    letter-spacing: 2px;
}

.dt_wrapper {
    display: none;
}

.con_wrapper {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    background-image: url('/assets/image/connect.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

hr {
    border: 0;
    border-top: 1px solid #468fb4;
    margin: 20px 0;
}

.contacttable {
    margin-top: 30px;
    width: 100%;
}

.tablebtn {
    color: red;
    width: 100px;
    display: block;
    margin: auto;
    background: b#4a91b5;
    margin-top: 30px;
}

.chkopt {
    color: red;
}

.colcheck {
    color: green;
}

.error_title h1 {
    color: black;
    text-align: center;
    font-size: 103px;
    letter-spacing: 1px;
    font-family: 'Ultra', cursive;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

.error_title {}

.error_wrapper {
    margin-top: 278px;
    max-width: 90%;
}

.error_title h2 {
    color: #31708f;
    font-size: 300px;
    text-align: center;
    letter-spacing: 35px;
    font-family: auto;
    text-shadow: 5px 5px 0px #EB452B, 10px 10px 0px #EFA032, 15px 15px 0px #46B59B, 20px 20px 0px #017E7F, 25px 25px 0px #005d7e, 30px 30px 0px #c09f7a, 35px 35px 0px #db4475, 40px 40px 0px #75b2a4, 45px 45px 0px #C11A2B;
}

.error_title h4 {
    color: #232121;
    text-align: center;
    font-size: 69px;
    margin-top: 14px;
    letter-spacing: 3px;
    font-family: 'Audiowide', cursive;
    margin-left: 41px;
    color: #018a88;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.error_end img {
    padding: 10px;
}

.error_end {
    padding: 10px;
}

.id_update {
    margin-left: 31%;
}

.error_main {
    width: 100%;
    height: 100vh;
    background: url('/assets/image/error.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
    .singleservice {
        margin-bottom: 10px;
        height: 50%;
    }
    .header-phone {
        display: block;
        /* position: fixed; */
        /* background: white; */
        /* z-index: 9999; */
    }
    .header {
        display: none;
    }
    .footer {
        height: 70%;
    }
    .dash {}
    .dash1 {
        margin-top: 10px;
        width: 70%;
    }
    .skills1 h4 {
        font-size: 10px;
        ;
    }
    .skills1 {
        width: 40%;
    }
    .single_lang h2 {
        margin-top: 95px;
    }
    .profinfo {
        top: 0px;
    }
    .error_title h2 {
        font-size: 131px;
    }
    .error_title h1 {
        font-size: 85px;
    }
    .error_title h4 {
        font-size: 40px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .singleservice {
        height: 40%;
    }
    .header-phone {
        display: block;
        position: fixed;
    }
    .header {
        display: none;
    }
    .profinfo {
        position: absolute;
        right: 7px;
        margin-top: 50px;
    }
    .dash1 {
        width: -webkit-fill-available;
        height: 100px;
        padding-bottom: 100px;
    }
    .edu {
        padding: 10px;
    }
    .single_lang h2 {
        margin-top: 100px;
    }
    .hamburger {
        right: 100px;
    }
    .error_title {
        margin-top: 20px;
    }
}