<div class="container con_wrapper">
    <div class="dt_wrapper">
        <div class="container connect1" style="position: relative;">
            <input type="text" name="" id="dt" style="position: absolute;top: 0px;left: 0px;">
        </div>
    </div>
    <div class="container" style="max-width: 90%;">
        <div class="connect2">
            <div class="container" style="width:100%">
                <div class="col-sm-4 options" onclick="toggle1(this);">
                    <h3>About Us</h3>
                </div>
                <div class="col-sm-4 options" onclick="toggle1(this);">
                    <h3>Connect</h3>
                </div>
                <div class="col-sm-4 options" onclick="toggle1(this);">
                    <h3>Contact Us</h3>
                </div>
            </div>
            <hr>
            <div class="container desc_wrapper" style="width: 100%;height: 10%">
                <div class="desc">
                    <h3>This page is about us.</h3>
                </div>
                <div class="desc">
                    <h3>This page is about connecting people.</h3>
                </div>
                <div class="desc">
                    <h3>This page is contact.</h3>
                </div>
            </div>
        </div>
    </div>

</div>