<div class="container" style="height:100vh;width:100%;padding:10px;padding-bottom:0;overflow-y: scroll;background: url('/assets/image/cont.jpg');padding-top:100px;background-size: cover;background-repeat: no-repeat;">
    <div class="container" style="background: #f2f1f347; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
        <div class="container" style="max-width: 90%;;margin-top:50px;height:calc(100vh-270px);overflow-y:scroll;">
            <h2 style="font-size:50px;font-family:'Raleway';font-weight: 600;color:#086a9c;">Contact <span style="font-weight:200;">Us</span></h2>
            <div class="container" style="width:100%;padding-top:35px;padding-right:25px;">
                <div class="col-sm-6">
                    <div class="group">
                        <input id="cf_name" type="text" required />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="custom">Name</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group">
                        <input id="cf_email" type="text" required />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="custom">Email Id</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group">
                        <input id="cf_number" type="number" required />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="custom">Number</label>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-top:34px;">
                    <div class="group">
                        <div class="container" style="padding: 0px;width: 100%;">
                            <select name="" id="sph_quantity" placholder="Quantity">
                    <option value="1">Professional</option>
                    <option value="2">Student</option>
                    <option value="3">Trainee</option>
            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="group">
                        <input id="cf_msg" type="text" />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="custom">Query</label>
                    </div>
                </div>
                <div class="col-sm-6 colcheck">
                    <div class="form-group">
                        <input type="checkbox" id="linkchk">
                        <label class="chkopt" for="linkchk">LinkedIn</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="fbchk">
                        <label class="chkopt" for="fbchk">Facebook</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="twichk">
                        <label class="chkopt" for="twichk">Twitter</label>
                    </div>
                </div>
            </div>
            <div class="button_wrapper" style="width: 100%;">
                <div class="button ripplelink" onclick="contactint()" style="width:100px;margin-top:10%;display: inline-block;margin-left: 30%">
                    SEND
                </div>
                <div class="button ripplelink" onclick="contactfetch()" style="width:144px;margin-top:10%;display: inline-block;margin-left: 10px;">
                    Show Table
                </div>
                <div class="button ripplelink" onclick="contactupdate()" style="width:144px;margin-top:10%;display: inline-block;margin-left: 20px;">
                    Update
                </div>
                <!--  <div class="button ripplelink" onclick="" style="width:144px;margin-top:10%;display: inline-block;margin-left: 20px;">
                    OK
                </div> -->
            </div>
            <div class="group id_update">
                <input id="idtext" type="text" onchange="id_fetch($('#idtext').val())" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="custom">Enter the ID to Update</label>
            </div>
        </div>
    </div>
</div>
<div class="table_overlay" style="width: 100%;height: 100%;background: whitesmoke;position: fixed;top: 0px;left: 0px;z-index: 99;display: none;">
    <div class="contacttable container" style="width: 100%;margin-top: 200px;">
        <div class="con_table container" style="max-width: 90%;">
            <table class="table table-striped" id="contact_fet" style="width: 100%;">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Number</th>
                    <th>Prof</th>
                    <th>Query</th>
                    <th></th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div class=" button tablebtn" onclick="$('.table_overlay').fadeOut()">
        BACK
    </div>
</div>