<div class="container error_main">
    <div class="container error_wrapper">
        <div class="error_title">
            <h1>Oops!!</h1>
            <p>
                <h2>404</h2>
                <h4>PAGE NOT FOUND</h4>
            </p>
        </div>
        <div class="container error_end">
            <!-- <img src="/assets/image/plug.jpg" alt=""> -->

        </div>
    </div>
</div>