<div class="container footer">
    <div class="container">
        <div class="col-sm-4">
            <img src="/assets/image/link.png" alt="">
        </div>
        <div class="col-sm-4">
            <h1>Information</h1>
            <p>Privacy Policy</p>
            <p>Legal</p>
        </div>
        <div class="col-sm-4 social_links">
            <h1>Connect</h1>
            <p><i class="fab fa-facebook"></i> <span>Facebook</span></p>

        </div>
    </div>
</div>