<div class="header container">
    <div class="container" style="width: 100%;">
        <div class="col-sm-4">
            <img src="/assets/image/link.png" alt="" srcset="">
        </div>
        <div class="col-sm-8">
            <div class="col-sm-2">
                <div class="singleheaderoption">
                    <p onclick="route('home')">HOME</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="singleheaderoption">
                    <p onclick="route('profile')">PROFILE</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="singleheaderoption">
                    <p onclick="route('connect')">CONNECT</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="singleheaderoption">
                    <p onclick="route('interest')">INTERESTS</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="singleheaderoption">
                    <p onclick="route('contact')">CONTACT</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-phone container">
    <img src="/assets/image/link.png" onclick="route('home')">
    <button class="hamburger hamburger--spin-r ismenu" type="button" style="outline:none;" onclick="$(this).toggleClass('is-active'),$('#main_menu').toggleClass('active')">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>
<div class="container" id="main_menu">
    <p onclick="route('home');$('.hamburger').click();">HOME</p>
    <p onclick="route('profile');$('.hamburger').click();">PROFILE</p>
    <p onclick="route('connect');$('.hamburger').click();">CONNECT</p>
    <p onclick="route('interest');$('.hamburger').click();">INTERESTS</p>
    <p onclick="route('contact');$('.hamburger').click();">CONTACT</p>
</div>