<!-- Slider -->
<div class="w3-content w3-section" style="max-width:2000px ; margin-top: 0px;">
    <img class="mySlides" src="/assets/image/comp.png" style="width:100%; ">
    <img class="mySlides" src="/assets/image/sea.jpg" style="width:100%; ">
    <img class="mySlides" src="/assets/image/image1.jpg" style="width:100%; ">
</div>
<div class="container" style="width: 100%;">

    <div class="col-sm-6">
        <div class="abt" style="display:inline-block;  padding:10px;">
            <h1>About Us</h1>
            <p> LinkedIn is an American business and employment-oriented service that operates via websites and mobile apps. LinkedIn allows members (both workers and employers) to create profiles and "connections" to each other in an online social network
                which may represent real-world professional relationships. Members can invite anyone to become a connection.</p>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <img src="/assets/image/abc.png" height="40%">
        </div>

    </div>

</div>
<!--  -->

<br><br>

<!-- Services -->
<div class="service" style="width: 100%; background-image: url('image/serv.jpg');padding-bottom: 30px;">
    <div class="container" style="max-width: 90%;">
        <div class="col-sm-4">
            <div class="singleservice">

                <img src="/assets/image/profile.png" alt="" srcset="">
                <h1> Profile Writing </h1>
                <p> LinkedIn provides layout for building the resume through asking basic information regarding educational details.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="singleservice">
                <img src="/assets/image/recruiter.png" alt="" srcset="">
                <h1> Recruiter Professional </h1>
                <p> Here the professionals tells us about their requirements so that they will hire people.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="singleservice">
                <img src="/assets/image/learn1.png" alt="" srcset="">
                <h1> Learning</h1>
                <p> LinkedIn professionals also provides learning opportunities. Also they provides videos session. Keeps the track of the employeers. </p>
            </div>
        </div>
    </div>
</div>