<div class="container" style="width: 100%;height: 100vh;background: url('/assets/image/int.jpg');background-size:cover;background-repeat:no-repeat;">
    <div class="container int">
        <h1 style="color: #1c77a4;">JAVA</h1>
        <div class="table1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>john@example.com</td>
                        <td>Intermediate</td>
                    </tr>
                    <tr>
                        <td>Tejal</td>
                        <td>tejal@gmail.com</td>
                        <td>Advanced</td>
                    </tr>
                    <tr>
                        <td>Luis</td>
                        <td>luis@email.com</td>
                        <td>Intermediate</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container int1">
        <h1 style="color: #1c77a4;">Php</h1>
        <div class="table1">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>john@example.com</td>
                        <td>Intermediate</td>
                    </tr>
                    <tr>
                        <td>Tejal</td>
                        <td>tejal@gmail.com</td>
                        <td>Advanced</td>
                    </tr>
                    <tr>
                        <td>Luis</td>
                        <td>luis@email.com</td>
                        <td>Intermediate</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>