<div class="container" style="width: 100vw;background: url('/assets/image/profback.jpg');background-repeat:no-repeat;padding: 0%;position: relative;">
    <div class="container profile" style="margin-top: 100px; width: 100vw; position: relative;">
        <div class="col-sm-4">
            <div class="profcard" style="display: inline-block;padding: 10px;">
                <img src="/assets/image/profile.png" style="height: 30%;">
                <h1>TEJAL WASANKAR. 1st</h1>
                <h2>LinkedIn for Web Developement.</h2>
                <h4>Mumbai</h4>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="profinfo">
                <p> <i class="fas fa-university"></i><span>University of Mumbai</span></p>

                <p><i class="fas fa-address-book"></i><span>Contact</span></p>
                <p> <i class="fas fa-users"></i><span>Connections</span></p>

            </div>
        </div>
    </div>
</div>
<hr>
<div class="container" style="max-width: 90%;">
    <div class="container dashboard" style="width: 100%; background-repeat: no-repeat;">
        <h2 style="font-size: 36px; font-weight: 300;font-style: italic; color: 1976D2;letter-spacing: 2px;">Your Dashboard</h2>
        <h4 style="color: DD2C00;font-weight: 300px;">Private to you</h4>
        <hr>
        <div class="dash" style="width: 100%;">
            <div class="col-sm-3">
                <div class="dash1">
                    <p>
                        <h4>10</h4>
                    </p>
                    <p>
                        <h3>Who viewed your profile</h3>
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="dash1">
                    <p>
                        <h4>30</h4>
                    </p>
                    <p>
                        <h3>Post views </h3>
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="dash1">
                    <p>
                        <h4>5</h4>
                    </p>
                    <p>
                        <h3>Search appearances</h3>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="education" style="width: 100%;min-height: 280px;">
        <h1 style="font-size: 36px; font-weight: 300;font-style: italic; padding: 10PX;color: 1976D2;letter-spacing: 2px;">Education</h1>
        <div class="education1">
            <div class="col-sm-3">
                <div class="edu">
                    <img src="/assets/image/university.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="edu" style="display: inline-block;">
                    <h1 style="color: 3949AB;letter-spacing: 2px; font-size: 25px;">University of Mumbai</h1>
                    <p>Master of Computer Applications- MCA, Information Technology 2017
                    </p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="edu">
                    <p> <i class="fas fa-edit"></i></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container skills" style="width: 100%;">
        <h1 style="font-size: 36px; font-weight: 300;font-style: italic;color: 1976D2;letter-spacing: 2px;">Featured Skills & Endorsements</h1>
        <div class="col-sm-3">
            <div class="skills1" onclick="error.html">
                <h4>TAKE SKILL QUIZ</h4>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container lang" style="width: 100%;">
                <div class="single_lang">
                    <h2>C++</h2>
                    <hr>
                </div>
                <div class="single_lang">
                    <h2>Php</h2>
                    <hr>
                </div>
                <div class="single_lang">
                    <h2>Javascript</h2>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container contact" style="width: 100%; float: left;">
        <h1 style="font-size: 36px; font-weight: 300;font-style: italic;color: 1976D2;letter-spacing: 2px;">Contact</h1>
        <div class="col-sm-3">
            <div class="con1">
                <img src="/assets/image/link.png" style="height: 50px;">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="con1">
                <h1>Your Profile</h1>
                <p style="color: blue;">https://www.linkedin.com/in</p>
            </div>
        </div>
        <div class=" col-sm-2">
            <div class="con1">
                <p> <i class="fas fa-edit"></i></p>
            </div>
        </div>
    </div>
</div>